	<div id="fh5co-offcanvass">
		<a href="#" class="fh5co-offcanvass-close js-fh5co-offcanvass-close">Menu <i class="icon-cross"></i> </a>
		<h1 class="fh5co-logo"><a class="navbar-brand" href="../main/main.html">Warning Torrent</a></h1>
		<h3 class="fh5co-lead">DownLoad Bulletin Board </h3>
		<ul>
			<li class="active"><a href="../main/main.html">The Newest</a></li>
			<li><a href="/torrent/views/board/board1.html">Entertainment</a></li>
			<li><a href="/torrent/views/board/board2.html">Drama</a></li>
			<li><a href="/torrent/views/board/board3.html">Movie</a></li>
			<li><a href="/torrent/views/board/board4.html">Utility</a></li>
			<li><a href="/torrent/views/board/qna.html">Q.Request</a></li>
		</ul>
		<h3 class="fh5co-lead">Team2 miniProject2</h3>
		<p class="fh5co-social-icons">
			<a href="#"><i class="icon-twitter"></i></a>
			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-instagram"></i></a>
			<a href="#"><i class="icon-dribbble"></i></a>
			<a href="#"><i class="icon-youtube"></i></a>
		</p>
		<div id="user">
<!-- 			<button class="btn btn_default">로그인</button> -->
			<button class="btn btn_default" id="joinBtn">회원가입</button>
		</div>
	</div>
	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="#" class="fh5co-menu-btn js-fh5co-menu-btn">Menu <i class="icon-menu"></i></a>
					<a class="navbar-brand" href="../main/main.html">Warning Torrent</a>		
				</div>
			</div>
		</div>
	</header>
	<script>
		$(document).ready(function(){
			loginConfirm();
		});
		function loginConfirm(){
			$.ajax({
				url:getContextPath()+"/loginConfirm.json"
			}).done(printUserButton);
		}
		function printUserButton(result){
			$("#user").prepend(result);
		}
		function getContextPath() {
			var hostIndex = location.href.indexOf(location.host)
					+ location.host.length;
			return location.href.substring(hostIndex, location.href.indexOf(
					'/', hostIndex + 1));
		};
		$("#user").on("click","#loginBtn",function(){
			self.location = getContextPath()+"/views/user/loginForm.html";
		})
		$("#joinBtn").on("click",function(){
			self.location = getContextPath()+"/views/user/joinForm.html";
		})
	</script>
	