<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Warning Torrent &mdash; Mini2Team2</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
<meta name="keywords"
	content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
<meta name="author" content="FREEHTML5.CO" />
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/torrent/resources/js/modernizr-2.6.2.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="shortcut icon" href="favicon.ico">
<link
	href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500'
	rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/torrent/resources/css/animate.css">
<link rel="stylesheet" href="/torrent/resources/css/icomoon.css">
<link rel="stylesheet" href="/torrent/resources/css/magnific-popup.css">
<link rel="stylesheet" href="/torrent/resources/css/salvattore.css">
<link rel="stylesheet" href="/torrent/resources/css/style.css">
<script src="/torrent/resources/js/torrent.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>
<script
	src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
	charset="utf-8"></script>


</head>
<body>
	<div class="topMenu"></div>
	<!-- END .header -->


	<!--  @@@@@@@@@@@    메인콘텐트를 입력하는 부분!! @@@@@@@@@@-->

	<div id="fh5co-main">
		<div class="container">

			<div class="row">

				<div id="fh5co-board" data-columns>
					
				</div>
			</div>
		</div>
	</div>

	<div class="footer"></div>

	<!-- jQuery / jQuery Easing / Bootstrap  / Waypoints / Magnific Popup / Salvattore / Main JS -->
	<script src="/torrent/resources/js/jquery.min.js"></script>
	<script src="/torrent/resources/js/jquery.easing.1.3.js"></script>
	<script src="/torrent/resources/js/bootstrap.min.js"></script>
	<script src="/torrent/resources/js/jquery.waypoints.min.js"></script>
	<script src="/torrent/resources/js/jquery.magnific-popup.min.js"></script>
	<script src="/torrent/resources/js/salvattore.min.js"></script>
	<script src="/torrent/resources/js/main.js"></script>
	<script id="homeData-template" type="text/x-handlebars-template">
		{{#each .}}
			<div class="item" style="float:left;">
				<div class="animate-box">
					<a href="/torrent/views/board/board3detail.html?{{bno}}"  >
						<img src="{{content}}">
					</a>
				</div>
				<div class="fh5co-desc">{{title}}</div>
			</div>
		{{/each}}
	</script>
	
	<script>
		$("div.topMenu").load("/torrent/views/include/topMenu.html");
		$("div.footer").load("/torrent/views/include/footer.html");
		
		$.ajax({
			url:getContextPath()+"/homeData.json"
		}).done(makeHomeData);
		
		function makeHomeData(result){
			console.log(result);
			var source = $("#homeData-template").html();
			var template = Handlebars.compile(source);
			var html = template(result);
								
			$("#fh5co-board").html(html);
			console.log(html);
		}
		
		
		var naver_id_login = new naver_id_login("tcOqG9J4JagRMK2wAd9U",
				"http://192.168.0.36:8000/torrent/views/home.html");
		naver_id_login.get_naver_userprofile("naverSignInCallback()");
		function naverSignInCallback() {
			$.ajax({
				url : getContextPath() + "/user/naverLogin.json",
				data : "id=" + naver_id_login.getProfileData('email')
			}).done(function() {
				alert("로그인 성공");
				self.location = getContextPath();
			});
		}
		
	</script>
</body>

</html>
